version: "3.7"

services:
  web:
    image: ghcr.io/issasoridev/axemobile:latest
    restart: on-failure
    stop_grace_period: 1m
    ports:
      - "${APP_AXEMOBILE_APP_PORT:-3847}:80"
    environment:
      - NODE_ENV=production
